---
import Card from "../../layouts/Card.astro";
import { getCollection } from "astro:content";
import { PillButton } from "../ui/PillButton";

const { class: className, ...rest } = Astro.props;
const projects = await getCollection("projects");
---

<div class=`${className} shadow-card`>
  <Card title="Selected Projects">
    <ul role="list" class="gap-2 flex flex-wrap">
      {projects.map((project) => <PillButton type="link" href={project.data.link} text={project.data.name} />)}
    </ul>
  </Card>
</div>
