---
import Card from "../../layouts/Card.astro";
import { getCollection } from "astro:content";

const { class: className, ...rest } = Astro.props;
const experiences = await getCollection("experiences");

console.log(experiences);
---

<div class=`${className} shadow-card`>
  <Card title="Experience">
    <ul role="list" class="gap-4 flex flex-col">
      {
        experiences.map((exp, index) => (
          <li class={`leading-none exps ${index > 3 ? "hidden" : ""}`}>
            <h4 class="text-md font-sans  m-0 mb-1 text-brand-blue">{exp.data.jobTitle}</h4>
            <p class="text-xs font-sans m-0 text-brand-accent">{exp.data.company}</p>
            <span class="text-xs font-sans text-gray-400">{exp.data.years}</span>
          </li>
        ))
      }
    </ul>
    <button id="load-more-exp" class="mt-4 w-full text-brand-blue hover:text-brand-accent underline text-sm" onclick="loadHidden()"
      >Load More</button
    >
  </Card>
</div>

<script is:inline>
  function loadHidden() {
    const allHiddenExperience = document.querySelectorAll(".exps.hidden");
    for (let i = 0; i < allHiddenExperience.length; i++) {
      const element = allHiddenExperience[i];
      element.classList.remove("hidden");
    }
    document.querySelector("#load-more-exp").classList.add("hidden");
  }
</script>
