---
import { Image } from "astro:assets";
type cardProps = {
  title?: string;
  description?: string;
  subText?: string;
  clickable?: boolean;
};
const { title, description, subText, clickable }: cardProps = Astro.props;
---

<div
  class=`${clickable?'hover:text-brand-accent hover:border-brand-accent cursor-pointer':''}  duration-300 border-2 border-[#ffffff69] rounded-lg p-8 overflow-hidden bg-[rgba(244, 244, 244, 0.35);] backdrop-filter backdrop-blur-md h-full w-full`
  style="background:#ffffff24"
>
  <Image
    width={100}
    height={100}
    src="/grain.png"
    alt=""
    class="absolute left-0 top-0 w-full h-full object-cover opacity-20 -z-1"
    alt="backdrop"
    style="pointer-events:none"
  />
  {title && <h3 class="text-2xl uppercase tracking-wide font-compact font-bold m-0 mb-5 text-brand-blue">{title}</h3>}
  {description && <p class="text-md font-sans text-brand-blue">{description}</p>}
  {subText && <span class="text-sm mt-5 text-brand-blue">{subText}</span>}
  <slot />
</div>
