---

---

<div class="rounded-lg overflow-hidden backdrop-filter backdrop-blur-sm h-full w-full" style="    border: 2px solid #ffffff69;">
  <img src="/grain.png" alt="" class="absolute left-0 top-0 w-full h-full object-cover opacity-20" />
  <slot />
</div>
